<section class="contact-section">
  <div class="backdrop">
    <div class="modal">
      <p class="modal-title">Leave your contacts and we will call you back</p>
      <form class="modal-form">
        <label>
          Name
          <input type="text" name="username" placeholder="Name" />
        </label>
        <label>
          Email
          <input type="text" name="email" placeholder="Email" />
        </label>
        <label>
          +380
          <input type="text" name="+380" placeholder="+380" />
        </label>
        <label>
          Comment
          <textarea name="comment" rows="5" placeholder="comment"></textarea>
        </label>
        <button type="send">Send</button>
      </form>
    </div>
  </div>
  <img src="" alt="" />
</section>
