
<header>
<div class="container header-container">
    <nav class="header-nav">
        <a class="header-logo" href="./index.html">
           watchcharm</a>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link current" href="./index.html" target="_blank">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" target="_blank">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" target="_blank">Sale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" target="_blank">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" target="_blank">Contact us</a>
            </li>
        </ul>
    </nav>

    <address class="contacts">
        <ul class="contacts-list">
        <li class="contacts-social-item"><a href="" class="contacts-social-link">
                <svg class="social-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
                </svg></a></li>
        <li class="contacts-social-item"><a href="" class="contacts-social-link">
                <svg class="social-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
                </svg></a></li>
        <li class="contacts-social-item"><a href="" class="contacts-social-link">
                <svg class="social-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
                </a></li>
        </ul>
    </address>
    
</div>
</header>
