<section class="sale-section">
  <h2 class="sale-subtitle">Sale</h2>
  <ul>
    <li><img src="" alt="" /></li>
    <li><img src="" alt="" /></li>
    <li><img src="" alt="" /></li>
    <li><img src="" alt="" /></li>
    <li><img src="" alt="" /></li>
    <li><img src="" alt="" /></li>
  </ul>
  <img class="sale-image" />
  <div class="edition">
    <h2 class="sale-edition-subtitle">
      MARQ® Commander (Gen 2) - Carbon Edition
    </h2>
    <p class="sale-edition-subtitle-one">Product tag: 706587</p>
    <button class="sale-edition-btn" type="button">€1500</button>
    <p class="advertisment-text">
      The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
      adventurers that takes materials and features to the next level. The body
      of the watch is made of very durable Fused Carbon Fiber material and has a
      precise AMOLED touch screen. The sensitive touch screen is complemented by
      buttons that can be used in any conditions.
    </p>
    <ul>
      <li>
        <button class="advertisment-button-fiber">Fused carbon fiber</button>
      </li>
      <li>
        <button class="advertisment-button-grade">Grade-5 Titanuim</button>
      </li>
      <li><button class="advertisment-button-athlete">Athlete</button></li>
      <li><button class="advertisment-button-golfer">Golfer</button></li>
      <li><button class="advertisment-button-commander">Commander</button></li>
      <li>
        <button class="advertisment-button-adventurer">Adventurer</button>
      </li>
    </ul>
  </div>
</section>
